# **IEOR 4650  Business Analytics (Fall 2019)**

**Homework 1 [Total points: 60]**

** Due: 11:59 PM, September 28**

This first homework consists of Python programming practices and the applications to data clearning and linear regression. 

The steps to finish in the homework:

*   Step 1: Make a copy of the file to your LionDrive.
*   Step 2: Work with the copy (an ipynb file).
*    <font color='red'>**Step 3: Rename the copy to your_uni_hw1.ipynb (For example: yd4501_hw1.ipynb).**</font>  
*   Step 4: Submit the copy on CourseWorks.

Before you submit your assignment, make sure to re-run your code from the beginning. (You can do so by first clicking Runtime/Reset All Runtimes and then clicking Runtime/Run all)


**All the questions in this homework requires coding**

In [0]:
#This imports all the packages you need for the homework
#Please run this first


!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)


#import modules

import numpy as np
import pandas as pd
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt

## Exercise 1 [Total: 22 Points]

In this exercise, we will work on some exercises that practices our data manipulation skills.




<div>
<img src="https://http2.mlstatic.com/poster-pokemon-full-hd-42x29cm-frete-gratis-D_NQ_NP_752705-MLB25053489227_092016-F.jpg" width="250"/>
</div>

## Setting
Pokemon is a very popular video game, in which the trainer catches pokemon and use them for battling. Each pokemon has its name and its pokedex. A Pokemon belongs to at least 1 and at most 2 Pokemon types.  There are different stats to measure the combat power of a pokemon, which include HP, Attack, Defense, Special Attack Strength, Special Defensive Strength, and Speed. Pokemon are usually released in batches. Thus, they have different generations. In addition, a pokemon can either be a regular pokemon and legendary pokemon. 



|Variable| Description|
|---|---|
|PokeDex |PokeDex index number|
| Name | Name of the Pokemon  |  
| Type 1 | Type of pokemon  |  
| Type 2 | Other Type of Pokemon  |  
| HP |  Hit Points  |  
| Attack |  Attack Strength  |  
| Defense |  Defensive Strength  |  
| Sp. Atk |  Special Attack Strength  |  
| Sp. Def |  Special Defensive Strength  |  
| Speed | Speed  |  
| Generation | Number of generation  |  
| Legendary |  True if Legendary Pokemon False if not | "

In [0]:
#Load the dataset 
link="https://drive.google.com/open?id=1wX36WLNOPLPVU7BCA-J9bBhGZPwuFqol"
_,id=link.split("=")
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('myfile.csv')  
Pokemon = pd.read_csv('myfile.csv')
Pokemon.head(5)

   PokeDex        Name Type_1  Type_2  ...  Sp_Def  Speed  Generation  Legendary
0        1   Bulbasaur  Grass  Poison  ...      65     45           1      False
1        2     Ivysaur  Grass  Poison  ...      80     60           1      False
2        3    Venusaur  Grass  Poison  ...     100     80           1      False
3        4  Charmander   Fire     ***  ...      50     65           1      False
4        5  Charmeleon   Fire     ***  ...      65     80           1      False

[5 rows x 12 columns]

### Q1 [2 points]
* Find the number of unique pokemon in the table. [hint: you want to make sure the same pokemon name does not appear twice in the table]

**Make sure to print out the result**

### Q2. [4 points]

* Add one additional column named "Total" to the table 
> The value of Total for each pokemon is equal to the sum of all the stats numbers for each pokemon (HP+Attack+Defense+Sp. Atk+Sp. Def+ Speed) and is the measure of total combat power of a pokemon.
* drop the stats that are used to compute "Total" from the table

**Make sure to print out the result for the last step**

### Q3 [4 points]

* Create a sub-table "Pokemon_sub" that includes only the pokemon name and the Pokedex for all the **Legendary**  pokemon from **Generation 1** and **Generation 2**. 

**Make sure to print out the content of the sub-table**

###Q4 [5 points]

A pokemon might belong to only one type or two types. If a pokemons belongs to only one type, "Type_2" field will be missing that Pokemon

We call a pokemon that belongs to only one type a "single-type" pokemon and a pokemon that belongs to two types a "double-type" pokemon. For example, Snorlax is a "single-type" pokemon and belongs to Normal type. For another example, Bulbasaur is a "double-type" pokemon and belongs to both Poison type and Grass type. 	  

* Convert the missing values to a format that can be recognized by Pandas.
* Report for each pokemon type, how many "single-type" pokemon exists.

**Make sure to print out the result for the last step**

###Q5 [7 points]

It is important to have the ability of learning programming by yourself. Let's use some adequate methods to find the pokemon with the highest total combat power in each type.  

In this table, you should have 3 columns

(1) column 1: Type name

(2) column 2: name of the most power pokemon for this pokemon type

(3) column 3: total combat power for this pokemon

[hint: You might find the following four methods to be relevant. However, there are multiple ways to achieve the goal. You do not need to use them in your answer. 

> `concat` method

> `sort_values` method

> `groupby` method

> `first` method

## Exercise 2 [Total: 38 points]


###Setting
In this exercise, we will work with a dataset which explores the store sales.

Before doing the assignment, please study this dataset here https://www.kaggle.com/c/rossmann-store-sales/data

In [0]:
#Load the dataset
link="https://drive.google.com/open?id=1Q6J0q4tlWJ7TajX6hMSvZ8tK3CyDD8QY"
_,id=link.split("=")
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Sales.csv')  
Sales = pd.read_csv('Sales.csv')
Sales.head(5)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

*You might see a warning when importing the data. This is because StateHoliday has both values in string and numbers. No worries this for now.*

### Q1 [7 points]

Run the following model

$$Sales=\beta_0+\beta_1 Customers + \epsilon$$

> (1) Print out the summary output

> (2) Based on regression result, answer the following questions

>> Interpret  $\hat{\beta_0}$ and $\hat{\beta_1}$ based on the regression output. 

>> Reason whether there is a negative correlation between the number of customers and Sales

>> Report the 99% confidence interval for $\beta_1$

###Q2. [7 points]

* For the model above, use a Python attribute we discussed in class to retrieve the values for $\hat{\beta_0}$ and $\hat{\beta_1}$.

* Based on these two values, give the prediction for $\widehat{Sales}$ when number of customers=110.

* Find out the average of the actual Sales for all the records that have customers=110.

###Q3 [8 points]

One person argues the following:

* He found from the data that we should expect 0 Sales when we have 0 customers
* Since $\beta_0$ is the expected Sales price, when the number of customers is equal to 0, it should be set equals to 0.  

> Based on data, support that his first argument is true.

> Provide an argument on why the second point might be problematic. 

You will find the following articles useful:
[Article 1](https://dynamicecology.wordpress.com/2017/04/13/dont-force-your-regression-through-zero-just-because-you-know-the-true-intercept-has-to-be-zero/)

###Q4. [5 points] 

Now, run the following model:

$Sales=\beta_0+\beta_1 Customers +\beta_2 Open + \epsilon$

> Fit the model and print out the summary table.

> Interpret $\hat{\beta_0}$ , $\hat{\beta_1}$ and $\hat{\beta_2}$.

###Q5. [4 points]

Based on regression, prove that Q4 is equivalent to regressing "Sales" on "Customers" using only observations with stores that are open.

###Q6. [7 points]
Store table gives the information of each store. 

* Merge Sales table with Store table
* Run the following regression model

$$Sales=\beta_0+\beta_1 Customers +  \beta_2 Open + \beta_3 Competition Distance+\epsilon$$

* Based on the regression result, interpret $\widehat{\beta_3}$. Is this consistent with your expectation? Why?

In [0]:
link="https://drive.google.com/open?id=1g6URzUJnhCLOtg0a9TTHC18KYcqwxvoc"
_,id=link.split("=")
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('myfile_store.csv')  
Store = pd.read_csv('myfile_store.csv')
Store.head(5)

   Store StoreType  ... Promo2SinceYear    PromoInterval
0      1         c  ...             NaN              NaN
1      2         a  ...          2010.0  Jan,Apr,Jul,Oct
2      3         a  ...          2011.0  Jan,Apr,Jul,Oct
3      4         c  ...             NaN              NaN
4      5         a  ...             NaN              NaN

[5 rows x 10 columns]